{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link type="text/css" href="{% static 'smthfortest/css/styles.css' %}" rel="stylesheet"/>

</head>
<p class="hello">
{% if request.user.is_authenticated %}
    В данный момент вы находитесь на аккаунте пользователя <strong>{{ user.username }}</strong>!<br>
{% endif %}

{% for item in weather_data.items %}
    {% if not forloop.last %}
        {{ item.1 }} |
    {% else %}
        {{ item.1 }}
    {% endif %}
{% endfor %}
</p>
<body>

<div class="wrapper">

    <div class="content">
        <br>
    {% block mainmenu %}

        {% if not request.user.is_authenticated %}
            {% for item in menu|slice:'1' %}
                {% if title == 'О проекте' %}

                        <a class="chosen">{{ item.title }}</a>

                {% else %}

                        <a href=" {% url item.url_name %} " >{{ item.title }}</a>

                {% endif %}
            {% endfor %}

        {% elif request.user.is_authenticated %}

            {% for item in menu %}

                    {% if title == item.title %}

                    <a class="chosen">{{ item.title }}</a>

                    {% else %}

                    <a href=" {% url item.url_name %} " class="not_chosen"> {{ item.title }} </a>

                    {% endif %}

            {% endfor %}

        {% endif %}

            {% if request.user.is_authenticated %}

        <a href="{% url 'logout' %}" class="not_chosen"> Выйти </a>

            {% else %}

                {% if title == 'Регистрация' %}

                <a class="chosen">Регистрация</a><a href="{% url 'login' %}">Авторизация</a>

                {% elif title == 'Авторизация' %}

                <a href="{% url 'register' %}">Регистрация</a> <a class="chosen">Авторизация</a>

                {% else %}

                <a href="{% url 'register' %}" >Регистрация</a> <a href="{% url 'login' %}">Авторизация</a>

                {% endif %}

            {% endif %}



    {% endblock mainmenu %}

    {% block info_about %}
        <br><br>
        <p class="maininfo">Добро пожаловать на <i>тестовый</i> Django проект, представляющий из себя TODO лист.<br>
            <strong>Для начала работы необходима авторизация!</strong><br></p>
            <i>Реализованные возможности</i>:<br>
            <p class="opportunities">- создание задач (название - должно быть уникальным, описание, индикация выполнения задачи)<br>
            - редактирование описания и выполнения задачи (при изменении описания прошлая его версия будет показана в комментарии к текущей задаче)<br>
            - пагинация (по умолчанию отображается 1 задача на странице, но пользователем вручную может быть указано количество задач на странице)<br>
            - регистрация и авторизация<br>
            - интеграция с OpenWeatherAPI</p>


    {% endblock info_about %}

    {% block fail %}
    {% endblock fail %}

    {% block content %}
    {% endblock content %}


    {% block success %}
    {% endblock success %}

    </div>

    <div class="footer"><a href="{% url 'admin:index' %}">Админка</a> </br></br>

        Проект создан в учебных целях. Контактный email: ProkoEevOne@gmail.com

    </div>

</div>

</body>


</html>