{% extends 'smthfortest/base_template.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block info_about %}
<h4>Данная задача будет удалена:</h4>
{% endblock info_about %}
{% block content %}



<form method="POST">
    {% csrf_token %}

    <p class="task_name"> {{ current_task.title }} </p>
    <div class="pagewithtasks">
    <p class="in_pagewithtasks"> {{ current_task.description }} </p>
    </div>

    <strong>Вы уверены?</strong>

    <br>

    <button type="submit"> Удалить задачу</button>

</form>

{% endblock content %}

</body>
</html>