{% extends 'smthfortest/new_task.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
</head>
<body>

{% block info_about %}

    <h2> Задача с названием "<i>{{ request.POST.title }}</i>" уже существует, введите другое название. </h2>
    {{ if_title_exists }}
{% endblock info_about %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <br>{{ form.title }} <br><br>
    {{ form.description }} <br>

    <button type="submit"> Сохранить запись в базу данных </button>
</form>

{% endblock content %}


</body>
</html>