{% extends 'smthfortest/base_template.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% block info_about %}
    <br><br>Введи название задачи и её описание в форму,<br> представленную ниже:

    {% endblock info_about %}


{% block content %}

<form method="POST">
    {% csrf_token %}
    <br>{{ form.title }} <br><br>
    {{ form.description }} <br>
    {{ form.bound_user }}

    <button type="submit"> Сохранить задачу </button>
</form>

{% endblock content %}

</body>
</html>
