{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link type="text/css" href="{% static 'smthfortest/css/styles.css' %}" rel="stylesheet" />

</head>

<body>

{% block mainmenu %}
<div class="topside">
{% for info, url in menu.items %}

    <a href=" {{ url }} "  > {{ info }} </a>

{% endfor %}
</div>
<div class="mainpage"> Добро пожаловать на тестовый Django проект, представляющий из себя TODO лист с
    возможностью
    создавать задачи, редактировать их и удалять/отправлять в архив в зависимости от необходимого варианта.
</div>

{% endblock mainmenu %}

{% block content %}
{% endblock %}



</body>

<div class="footer"> ВНИМАНИЕ!!! Спасибо за внимание! </div>

</html>