{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link type="text/css" href="{% static 'smthfortest/css/styles.css' %}" rel="stylesheet"/>

</head>

<body>
{% csrf_token %}
<div class="wrapper">
    {% block mainmenu %}
    <header class="topside">

        {% for item in menu_extended %}

        {% if title == item.title %}

        <a class="chosen">{{ item.title }}</a>

        {% else %}

        <a href=" {% url item.url_name %} "> {{ item.title }} </a>

        {% endif %}

        {% endfor %}

    </header>
    {% endblock mainmenu %}

    {% block info_about %}
    <main class="main"> Добро пожаловать на <i>тестовый</i> Django проект, представляющий из себя TODO лист.<br><br>
        <i>Реализованные возможности</i>:<br>
        - создание задач (название, описание, индикация выполнения задачи)<br>
        - редактирование описания и выполнения задачи (при изменении описания прошлая его версия будет показана в комментарии к текущей задаче)<br>
        - пагинация (по умолчанию отображается 1 задача на странице, но пользователем вручную может быть указано количество задач на странице)


    {% endblock info_about %}


        {% block content %}
        {% endblock content %}
    </main>

    {% block success %}
    {% endblock success %}

    <footer

            class="footer"><a href="{% url 'admin:index' %}">Админка</a> </br></br>

        ООО "Кривые руки инкорпорейшн" </br> 2021

    </footer>
</div>

</body>


</html>