{% extends 'smthfortest/base_template.html' %}

{% block info_about %}

    <br>Уже запланированные задачи:

{% endblock info_about %}

{% block content %}

<form action="" method="get">
    <br>---------<br>
    Введите количество задач, отображающихся на странице:<br>
    {{ form.tasks_per_page }} <br>
    <input type="submit"><br>
    ---------<br>
</form>

Количество задач на данной странице: {{ object_list.count }}

{% for item in object_list %}

    {% if item.title|truncatewords:1|length > 25 %}
        <p class="task_name"> {{ item.title|truncatechars:25 }} </p>

    {% elif item.title|truncatewords:1|length <= 25 %}
        <p class="task_name"> {{ item.title }} </p>

    {% endif %}

    <div class="pagewithtasks">

        <p class="in_pagewithtasks"><i>Описание</i>: {{ item.description }} </p>
        <p class="in_pagewithtasks"><i>Время создания</i>: {{ item.creation_time }} </p>

        {% if item.creation_time|timeuntil:item.time_updated != 0 %}

            <p class="in_pagewithtasks"><i>Время изменения</i>: {{ item.time_updated }} </p>

        {% endif %}

        <p class="in_pagewithtasks done">

            <i>Выполнена ли задача?</i>

            {% if item.done == False %}
                <b class="no"> НЕТ! </b>

            {% endif %}

            {% if item.done %}
                <b class="yes"> ДА! </b>

            {% endif %}

        </p>

        {% for key, value in latest_comments.items %}

            {% if key == item.id %}
                <hr class="bottom">
                    <i>Описание задачи было изменено, прошлая версия описания:</i><br>
                    <p class="latest"> {{ value.comment_text }} </p><br>
                <hr class="bottom">

            {% endif %}

        {% endfor %}

        <a href='{{ item.get_absolute_url_for_change }}' class='testing'> Изменить описание </a>
        <a href='{{ item.get_absolute_url_for_delete }}' class='testing'> Удалить задачу </a>

    </div>

{% endfor %}

<div class="pagination">
    {% for page_number in amount_of_pages %}
       <a href = '?page={{page_number}}' class="pag"> {{ page_number }} </a>

    {% endfor %}
</div>
{% endblock content %}
